html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #eee;
  font-family: Ubuntu Mono;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;  
}

main {
}
