@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");

* {
  font-family: "PT Sans", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #eee;
  font-family: Ubuntu Mono;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

/** dat.gui overwrite */
.dg .cr.has-tooltip .property-name::before {
  content: "i";
  font-size: 10px;
  text-shadow: none;

  color: #000;
  padding: 4px;
  line-height: 6px;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 3px;
  text-align: center;

  border-radius: 100%;
  background: #fff;
}
.dg .cr.has-tooltip:hover {
  height: auto;
}
.dg .cr .tooltip {
  clear: both;
  text-align: left;
  font-size: 10px;
  line-height: 14px;
}

.dg .property-name {
  white-space: nowrap;
}

main {
}

aside span {
  display: inline-block;
}

[id^="dot-"],
.dot {
  margin-left: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}
#dot-hospitalized {
  margin-left: 0;
}
#line-hospitalized {
  border-bottom: 1px solid #6ff542;
  margin-left: 5px;
  margin-right: 5px;
  width: 10px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
}

#stats {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  padding: 5px;
}
#stats ul,
#stats li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
}
#stats ul {
  padding-right: 20px;
}
#stats li {
  white-space: nowrap;
  margin-bottom: 0spx;
}

.stats__count {
  min-width: 130px;
  /*flex: 0 0 auto;*/
}
.stats__age {
  flex-basis: 100%;
  margin-top: 10px;
}

#bagde-github {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

#chart-ages text {
  font-size: 11px;
}
